<%
  const items = [
    {
      heading: '最新情報をいち早くお届け！',
      headingSub: '新商品・イベント情報など…',
      txt: 'イベントの開催情報、メディア出演、コラボ商品などの最新情報はLINEにていち早くお届けしています！',
      img: 'img_01.jpg',
      imgAlt: '大堀相馬焼の商品一覧'
    },
    {
      heading: 'LINE限定のお得情報も！',
      headingSub: 'クーポンや限定商品なども！',
      txt: 'LINE限定のクーポンの配布や通販サイトでの販売情報などもLINE限定で配信しています。',
      img: 'img_02.jpg',
      imgAlt: '大堀相馬焼の限定商品'
    },
    {
      heading: '制作現場の裏話をお届け！',
      headingSub: '製作工程や工房の様子など…',
      txt: 'あまりメディアやWebには掲載をしていない制作の裏話や窯、工房の様子もお届けしています。',
      img: 'img_03.jpg',
      imgAlt: '大堀相馬焼の制作工程'
    },
  ]
%>
<% items.forEach(function (item, index) { %>
<li class="l-benefits-item">
  <div class="l-benefits-column">
    <div class="l-benefits-column-row">
      <div class="l-benefits-column-col">
        <div class="l-benefits-sentence">
          <div class="l-heading-3-container">
            <h3 class="m-heading-3"><span class="m-heading-3-sub"><%= item.headingSub %></span><%= item.heading %></h3>
          </div>
          <p class="m-txt m-txt-benefits"><%- item.txt %></p>
        </div>
      </div>
      <div class="l-benefits-column-col">
        <figure class="l-benefits-img">
          <img src="<%= IMG %><%= item.img %>" width="480" height="400" alt="<%= item.imgAlt %>">
        </figure>
      </div>
    </div>
  </div><!-- ./l-benefits-column -->
</li><!-- ./l-benefits-item -->
<% }); %>