<%
  const bnrItems = [
    // {
    //   title: '松永陶器店 オフィシャルサイト松永陶器店 オフィシャルサイト松永陶器店 オフィシャルサイト松永陶器店 オフィシャルサイト松永陶器店 オフィシャルサイト松永陶器店 オフィシャルサイト松永陶器店 オフィシャルサイト松永陶器店 オフィシャルサイト松永陶器店 オフィシャルサイト松永陶器店 オフィシャルサイト<span>松永陶器店 オフィシャルサイト</span>オフィシャルサイト松永陶器店オフィシャルサイト松永陶器店オフィシャルサイト松永陶器店オフィシャルサイト松永陶器店オフィシャルサイト松永陶器店オフィシャルサイト松永',
    //   img: 'btn_matsunaga.png',
    //   imgAlt: '松永陶器店 MATSUNAGA',
    //   href: '/'
    // },
    {
      title: '▼松永陶器店 オフィシャルサイト',
      img: 'btn_matsunaga.png',
      imgAlt: '松永陶器店 MATSUNAGA',
      href: 'http://soma-yaki.com/',
      width: 320,
      height: 80
    },
    {
      title: '▼大堀相馬焼 公式通販サイト',
      img: 'btn_somayaki.png',
      imgAlt: '大堀相馬焼 SOMA-YAKI WEB本店',
      href: 'https://www.soma-yaki.shop/',
      width: 320,
      height: 80
    },
    {
      title: '▼焼き物でご縁をつなぐ、焼き物のセレクトショップ　<br class="m-hide-pc">縁器屋',
      img: 'btn_engiya.png',
      imgAlt: '縁器屋 engi-ya',
      href: 'https://www.engiya.jp/',
      width: 320,
      height: 120
    }
  ]
%>
<% bnrItems.forEach(function (item, index) { %>
<li class="l-bnr-item">
  <dl class="l-definition">
    <dt class="m-definition-txt"><span class="m-definition-txt-icon"><%- item.title %></span></dt>
    <dd class="m-definition-bnr">
      <a href="<%= item.href %>" target="_blank" rel="noopener noreferrer">
        <img src="<%= IMG %><%= item.img %>" width="<%= item.width %>" height="<%= item.height %>" alt="<%= item.imgAlt %>">
      </a>
    </dd>
  </dl>
</li><!-- ./l-bnr-item -->
<% }); %>