<%
  PATH = './';
  TITLE = '大堀相馬焼 松永陶器店│LINE公式アカウントがOPENしました';
  DESCRIPTION = '松永陶器店 MATSUNAGAのLINE公式アカウントがOPENしましたのページです。';
  // KEYWORDS = ''
  URL = 'http://soma-yaki.com/linefriend/index.html';
  OG_SITENAME = '大堀相馬焼 松永陶器店';
  OG_TITLE = '大堀相馬焼 松永陶器店|LINE公式アカウントがOPENしました'
  OG_IMG = 'http://soma-yaki.com/linefriend/assets/img/ogp/ogp.png';
  FAVICON = 'http://soma-yaki.com/shared/images/favicon.ico';
  // FB = 'App-ID（15文字の半角数字）'
%>
<head>
<meta charset="UTF-8">
<title><%= TITLE %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta property="og:site_name" content="<%= OG_SITENAME %>">
<meta property="og:title" content="<%= OG_TITLE %>">
<meta property="og:url" content="<%= URL %>">
<meta property="og:image" content="<%= OG_IMG %>">
<meta property="og:type" content="website">
<meta property="og:locale" content="ja_jp">
<link rel="canonical" href="<%= URL %>">
<link rel="icon" href="<%= FAVICON %>">
<link rel="stylesheet" href="<%= PATH %>assets/css/common.css">
</head>