<%#
  // console.log('meta.description:', meta.description);
  PATH = './';
  TITLE = meta.title;
  DESCRIPTION = meta.description;
  // KEYWORDS = ''
  URL = meta.url;
  OG_SITENAME = meta.site_name;
  OG_TITLE = TITLE;
  OG_IMG = meta.image;
  FAVICON = 'http://localhost:3000/favicon.ico';
  APPLE_ICON = 'http://localhost:3000/apple-touch-icon.png';
  // FB = 'App-ID（15文字の半角数字）'
%>
<%
  PATH = '/';
  TITLE = 'PON DESING';
  DESCRIPTION = 'PON DESIGNは、新規サイト制作や運用、アプリ開発に強いWeb制作会社です。サイト作りはお客様の夢を叶えること。だからこそ成果を出すサイトを全力でお作りします。';
  // KEYWORDS = ''
  URL = 'http://localhost:3000/index.html';
  OG_SITENAME = 'PON DESING';
  OG_TITLE = 'PON DESING'
  OG_IMG = 'http://localhost:3000/assets/img/ogp/ogp.jpg';
  FAVICON = 'http://localhost:3000/favicon.ico';
  APPLE_ICON = 'http://localhost:3000/apple-touch-icon.png';
%>
<head>
<meta charset="UTF-8">
<title><%= TITLE %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="<%- DESCRIPTION %>" />
<meta property="og:description" content="<%- DESCRIPTION %>">
<meta property="og:site_name" content="<%= OG_SITENAME %>">
<meta property="og:title" content="<%= OG_TITLE %>">
<meta property="og:url" content="<%= URL %>">
<meta property="og:image" content="<%= OG_IMG %>">
<meta property="og:type" content="website">
<meta property="og:locale" content="ja_jp">
<link rel="canonical" href="<%= URL %>">
<link rel="icon" href="<%= FAVICON %>">
<link rel="apple-touch-icon" href="<%= APPLE_ICON %> ">
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<link rel="stylesheet" href="<%= PATH %>assets/css/common.css">
</head>