<%
  IMG = './assets/img/';
  RESOURCE = './assets/';
%>
<!DOCTYPE html>
<html lang="ja">
<%- include('./include/_head', {meta: json.index}); %>
<body>
  <%- include('./include/_header'); %>
  <div class="l-mainvisual l-mainvisual-top">
    <div class="l-mainvisual-inner">
      <%- include('./include/top/_mv'); %>
    </div>
    <p class="m-mainvisual-scroll">SCROLL</p>
  </div><!-- ./l-mainvisual -->
  <main id="main" class="l-main l-main-top">
    <div class="l-main-inner">
      <section class="l-section">
        <div class="l-section-inner">
          <%- include('./include/top/_news'); %>
        </div><!-- ./l-section-inner -->
      </section>
      <section class="l-section" data-space="lg">
        <div class="l-section-inner">
          <%- include('./include/top/_service'); %>
        </div><!-- ./l-section-inner -->
      </section>
      <section class="l-section" data-space="lg" data-inner-space="none">
        <div class="l-section-inner">
          <%- include('./include/top/_works'); %>
        </div><!-- ./l-section-inner -->
      </section>
      <section class="l-section" data-inner-space="none">
        <div class="l-section-inner">
          <%- include('./include/top/_company'); %>
        </div><!-- ./l-section-inner -->
      </section>
      <section class="l-section" data-space-sp="sm" data-inner-space="none">
        <div class="l-section-inner">
          <%- include('./include/top/_recruit'); %>
        </div><!-- ./l-section-inner -->
      </section>
      <section class="l-section" data-inner-space="none" data-inner-width="full">
        <div class="l-section-inner">
          <%- include('./include/_contact'); %>
        </div><!-- ./l-section-inner -->
      </section>
    </div><!-- ./l-main-inner -->
  </main>
  <%- include('./include/_footer'); %>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <script src="<%- RESOURCE %>/js/index.js"></script>
</body>
</html>