<%
  IMG = './assets/img/';
  RESOURCE = './assets/';
%>
<!DOCTYPE html>
<html lang="ja">
<%- include('./include/_head', {meta: json.index}); %>
<body>
  <%- include('./include/_header'); %>
  <div class="l-mainvisual">
    <div class="l-mainvisual-inner">
      <%- include('./include/top/_mv'); %>
    </div>
  </div><!-- ./l-mainvisual -->
  <main id="main" class="l-main">
    <div class="l-main-inner">
      <div class="l-section">
        <div class="l-section-inner">
          <%- include('./include/top/_news'); %>
        </div><!-- ./l-section-inner -->
      </div>
      <div class="l-section">
        <div class="l-section-inner">
          <%- include('./include/top/_service'); %>
          <%#- include('./include/_linebox'); %>
        </div><!-- ./l-section-inner -->
      </div>
      <div class="l-section">
        <div class="l-section-inner">
        </div><!-- ./l-section-inner -->
      </div>
    </div><!-- ./l-main-inner -->
  </main>
  <%- include('./include/_footer'); %>
  <script src="<%- RESOURCE %>/js/index.js"></script>
</body>
</html>